.countdown-root {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.countdown-label {
    font-size: 120px;
    color: rgba(255, 255, 255, 0.95);
    -unity-font-style: bold;
    -unity-text-align: middle-center;
    -unity-font-definition: url("project://database/Assets/Fonts/Roboto-VariableFont_wdth,wght.ttf?fileID=12800000&guid=7cbd1dc33f557c5409e6974b3a068d15&type=3#Roboto-VariableFont_wdth,wght");
}
